<!-- TITLE -->
<h3 class="ui dividing header">
    Dashboard
    <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
</h3>
<!-- TITLE -->

<div class="ui small breadcrumb">
    <a class="section">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section">Registration</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">Personal Information</div>
</div>

<div class="ui grid">

    <div class="three wide computer five wide tablet column">

        <!-- VERTICAL MENU -->
        <div class="ui vertical menu">

            <div class="item">

                <div class="ui accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Product Backlog
                    </div>
                    <div class="content">
                        <div class="menu">
                            <a href="http://app.gitscrum.dev/sprints/list" class="item">
                                List All</a>
                            <a class="item">Create a new</a>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Sprint Backlog
                    </div>
                    <div class="content">
                        <div class="menu">
                            <a href="http://app.gitscrum.dev/sprints/list" class="item">
                                List All</a>
                            <a class="item">Create a new</a>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        User Stories
                    </div>
                    <div class="content">
                        <div class="menu">
                            <a href="http://app.gitscrum.dev/sprints/list" class="item">
                                List All</a>
                            <a class="item">Create a new</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="header">My Planning</div>
                <div class="menu">
                    <a class="item">Issues</a>
                    <a class="item">Kanban Board</a>
                    <a class="item">Reports</a>
                </div>
            </div>
            <div class="item">
                <div class="header">My Team</div>
                <div class="menu">
                    <a class="item">People</a>
                    <a class="item">Stats</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Support</div>
                <div class="menu">
                    <a href="#" class="item">GitHub</a>
                    <a href="#" class="item">FAQs</a>
                </div>
            </div>
        </div>
        <!-- VERTICAL MENU -->
    </div>
    <div class="thirteen wide computer eleven wide tablet column">

        <div class="ui segment">

            <canvas id="myChart" width="500" height="100"></canvas>

            <h4 class="ui dividing header"></h4>

            <div class="ui four statistics">
                <div class="statistic">
                    <div class="value">
                        2
                    </div>
                    <div class="label">
                        Open Issues
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        4
                    </div>
                    <div class="label">
                        User Stories
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        4
                    </div>
                    <div class="label">
                        Team Effort
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="heartbeat icon"></i> 5
                    </div>
                    <div class="label">
                        Your Effort
                    </div>
                </div>
            </div>


            <div class="ui green message">
                <div class="header">
                    We're sorry we can't apply that discount
                </div>
                <p>That offer has expired</p>
            </div>

            <div class="ui red message">
                <div class="header">
                    We're sorry we can't apply that discount
                </div>
                <p>That offer has expired</p>
            </div>

            <div class="ui blue message">
                <div class="header">
                    We're sorry we can't apply that discount
                </div>
                <p>That offer has expired</p>
            </div>

        </div>
    </div>
</div>