@media only screen and (max-width : 1600px)
{
	.sidebar
	{
		display: none !important;
	}
}

ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

h3.lead{
	line-height: 1;
	margin-bottom: 10px;
    .label{
        padding: .3em .6em .3em;
    }
}

h3{
	span.label{
		font-size:0.6em;
		position: relative;
		margin-left:4px;
		top:-3px;
	}
}

.loginscreen{
	margin:60px auto;
	padding:60px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(43,43,43,1);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(43,43,43,1);
	box-shadow: inset 0px 0px 5px 0px rgba(43,43,43,1);

	a{
		margin:10px 0 40px;
	}
	p{
		color:#888;
	}
}

.tag-list{
	a{
		display:block;
		margin-bottom: 4px;
		padding:6px 8px 7px;
	}
}

.col-lg-4{
	h6{
		font-size:1em;
	}
}

.btn-outline{
	background:none;
}

.btn-danger.btn-outline{
	color: #e74c3c;
	font-weight: 700;
  	box-shadow: inset 0 0 2px #e74c3c;

	&:hover{
		color:#fff;
	}
}

.btn-default{
	color:#34495e;
	&:hover{
		background:#34495e;
		color:#fff;
	}
}



.feed-element, .comment-element{
	font-size:0.8em;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom:1px dashed #c0c0c0;
    .media-body{
		small{
			display:block;
			line-height:1.2;
		}
    }
	.dateforhumans{
		position: relative;
		top:4px;
	}
	.avatar-min{
		height:20px;
		width:20px;
		margin:6px 5px 0 0;
	}
}

.comment-element{
	.well{
		padding:10px 12px;
	}
}

.ol-list{
	padding-left: 20px;
	.li-note-item{
		margin-bottom: 10px;
		line-height: 1;
		p{
			margin: -5px 0 5px;
		}
	}
}


.project-list{
	.progress{
		margin-bottom: 0;
	}
	.btn{
		margin-top:2px;
	}
	.label{
		margin-top: 2px;
		padding: .4em .6em .3em;
	}
}

.table-sprint{

	.sprint-timebox{
	    span{
	        margin:0;
	        padding:0;
	    }
	    p{
			line-height: 1;
	        margin:0 0 0px;
	        padding:0;
	    }
	}

	.sprint-favorite{
		a{
			position: relative;
			top:6px;
		}
	}

	.sprint-labels{
		span{
			position: relative;
			top:6px;
		}
	}

	.sprint-title{
		a{
			position: relative;
			top:8px;
		}
	}

	.sprint-progress{
		span{
			display:block;
			position: relative;
			top:-4px;
		}
		.progress{
			position: relative;
			top:-4px;
			margin-bottom: 0;
		}
	}

}

.avatar-min{
	height:24px;
	width:24px;
}

.feedback{
    bottom: 20px;
    left:20px;
	position: fixed;
	z-index:999;
	.report{
		width:400px;
		box-shadow: 0px 0px 8px #888;
		border-radius: 4px;
		padding: 4px 10px 10px;
		h6{
			font-size:16px;
			font-weight: 500;
			i{
				margin:2px 4px 0 0;
			}
		}
	}
	.btn.dropdown-toggle{
		font-size:10px;
		padding: 10px;
	}
}

.dropdown-activities{
	bottom: 20px;
    right:20px;
	position: fixed;
	z-index:999;
	.report{
		width:280px;
		height:460px;
		box-shadow: 0px 0px 8px #888;
		border-radius: 4px;
		padding: 4px 10px 10px;
		h4, h5, h6{
			font-size:16px;
			font-weight: 500;
			i{
				margin-right:4px;
			}
		}
	}
	.btn.dropdown-toggle{
		font-size:10px;
		padding: 10px;
	}
}

.btn-file {
	position: relative;
	overflow: hidden;
	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
}

.bx-attachment{
	.list-group-item {
	    position: relative;
	    display: block;
	    padding: 4px 2px;
	    margin-bottom: 0;
	    background-color: transparent;
	    border: none;
	}
}

.dashboard-tile {
    .tile-sprint{
		text-align: left;
		h3{
			text-align: center;
			margin: 2px 0 10px;
		}
		a{
			text-align: left;
			span{
				display:block;
				font-size:12px;
				position: relative;
				top:-2px;
			}
		}
		.progress{
			margin-bottom: 15px;
		}
    }
    p {
        margin-bottom: 15px;
	}
}

.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 10px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
  p{
	  padding:0;
	  margin:0;
  }
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.user-profile{

	.information{
		.col-lg-3{
			width:100%;
			padding:0;
			margin:0;
		}
	}

	.feed-element{
		padding:0 8px 5px;
		a img{
			display:none;
		}
	}

	.contact-box.center-version > a img {
	  width: 210px;
	  height: 210px;
	  margin-top: 5px;
	  margin-bottom: 10px;
	}
}

.agile-list{
	min-height: 400px;
	background: #e0e0e0;
	padding:15px;
}

.card-detail {
	border-radius: 4px;
	background:#fff;
	margin:0 0 15px;
	padding:10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.5);

	&:hover{
		cursor:move;
	}

	.team-members{
		margin:0 0 10px;
	}
	.icons{
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding-top: 4px;
		margin-top: 4px;
		font-size:12px;
	}
	h4{
		margin:0 0 5px;
		padding:0;
		font-size:16px;
	}
	p{
		margin:0;
		padding:0;
		font-size:13px;
	}
}

.ui-state-highlight{
	background: #d0d0d0;
	padding:10px 0;
	margin:0 0 13px;
	border-radius: 4px;
	box-shadow: inset 0 2px 2px #777;
}

.nav-wizard{
    margin-top:30px;
}

.navbar-fixed-top{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
	.avatar{
		border-left:1px solid rgba(255,255,255,0.2);
		border-right:1px solid rgba(255,255,255,0.2);
	}
}

.breadcrumb-area{
	background:#EDF1F6;
	border-bottom: 1px solid #D8DEE9;
	padding:10px 20px;
	margin: 55px 0 15px;
	h3{
		margin:8px 0 6px 0;
		font-size: 14pt;
	}
	.btn{
		margin:5px 0 0 0;
		padding: 6px 13px;
		i{
			margin-right: 4px;
		}
	}
	.form-delete button{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding: 6px 6px 6px 8px;
		color:#eef2f6;
		background:#474849;
	}
    .col-lg-6{
        padding:0 6px;
    }
}

.content-area{
	> .container{
		padding:0 6px;
	}
}

.agile{
	.affix{
		top:56px;
		background: #fff;
		padding: 15px;
		border-bottom: 4px solid #E0E0E0;
	}
	h5{
		margin-top:0;
		font-size:14pt;
	}
}
